@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap'); */

:root {
  /* Light mode */
  --bg-primary: #F8F8FB;
  --bg-accent: #7C5DFA;
  --bg-accent-hover: #9277FF;
  --bg-sidebar: #373B53;
  --text-primary: #0C0E16;
  --button-primary: #7C5DFA;
  --button-primary-hover: #9277FF;
  --button-secondary: #F9FAFE;
  --button-secondary-hover: #DFE3FA;
  --text-secondary: #888EB0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
   --bg-primary: #141625;
  }
} */

[data-theme="dark"] {
  --bg-primary: #141625;
  --text-primary: #FFF;
    --button-secondary: #252945;
  --button-secondary-hover: #FFFFFF;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

* {
  font: "League Spartan", sans-serif;
  font-weight: 500;
}

body {
  margin: 0;
  padding: 0;

  background-color: var(--bg-primary);
  color: var(--text-primary);
}

h1,
h2 {
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1.13px;
  color: var(--text-primary);
}

h1 {
  font-size: 36px;
  letter-spacing: -1.68px;
  /* margin: 32px 0; */
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 15px;
  line-height: 100%;
  letter-spacing: -0.24px;
  /* margin: 0 0 8px; */
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

/* code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
} */


/* sidebar */
.sidebar {
  width: 103px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* align-items: center; */
  /* height: 100%; */
  position: fixed;
  left: 0;
  top: 0;
  height: 100svh;
  background-color: var(--bg-sidebar);
  color: white;

  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.sidebar-actions {
  padding-bottom: 17%;
}

.logo {
  width: 103px;
  height: 103px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: var(--bg-accent);

  display: flex;
  justify-content: center;
  align-items: center;
}

.line-break {
  height: 1px;
  width: 100%;
  background-color: #494E6E;
  margin: 12px 0;
}

/* .img-wrap {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
}

.img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.shadow-card {
  box-shadow: 0px 10px 10px -10px #48549F1A;
}