@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap'); */

:root {
  /* Light mode */
  --bg-primary: #F8F8FB;
  --bg-accent: #7C5DFA;
  --bg-accent-hover: #9277FF;
  --bg-sidebar: #373B53;
  --text-primary: #0C0E16;
  --button-primary: #7C5DFA;
  --button-primary-hover: #9277FF;
  --button-secondary: #F9FAFE;
  --button-secondary-hover: #DFE3FA;
  --text-secondary: #888EB0;
  --bg-card: #FFF;
  --bg-drawer: #FFF;
  --text-form: #7E88C3;
  --bg-input: #FFF;
  --border-input: #DFE3FA;
  --button-draft: #373B53;
  --button-draft-hover: #0C0E16;
  --bg-footer: #373B53;
}

/* @media (prefers-color-scheme: dark) {
  :root {
   --bg-primary: #141625;
  }
} */

[data-theme="dark"] {
  --bg-primary: #141625;
  --text-primary: #FFF;
  --button-secondary: #252945;
  --button-secondary-hover: #FFFFFF;
  --bg-card: #1E2139;
  --bg-drawer: #141625;
  --text-form: #DFE3FA;
  --bg-input: #1E2139;
  --border-input: #252945;
  --button-draft-hover: #1E2139;
  --bg-footer: #0C0E16;
  /* --shadow-card: #48549F1A; */

}

#root {
  width: 100%;
  max-width: 100%;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

@media (min-width: 1024px) {
  #root {
    max-width: calc(100% - 103px);
    /* max-width: 100%; */
    margin-left: 103px;
  }
}

* {
  font: "League Spartan", sans-serif;
  font-weight: 500;
}

body {
  margin: 0;
  padding: 0;

  background-color: var(--bg-primary);
  color: var(--text-primary);
}

h1,
h2 {
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1.13px;
  color: var(--text-primary);
}

h1 {
  font-size: 36px;
  letter-spacing: -1.68px;
  /* margin: 32px 0; */
  @media (max-width: 1024px) {
    font-size: 24px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.24px;
  /* margin: 0 0 8px; */
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

h3 {
  font-weight: 700;
}
p {
  margin: 0;
}

/* code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
} */


/* sidebar */
.sidebar {
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: var(--bg-sidebar);
  color: white;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

@media (min-width: 768px) {
  .sidebar {
    height: 80px;
  }
}

@media (min-width: 1024px) {
  .sidebar {
    width: 103px;
    height: 100svh;
    position: fixed;
    left: 0;
    top: 0;
    flex-direction: column;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.sidebar-actions {
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  padding-right: 8%;
}

@media (min-width: 1024px) {
  .sidebar-actions {
    padding-bottom: 17%;
    padding-right: 0;
    flex-direction: column;
  }
}

.logo {
  width: 103px;
  /* height: 103px; */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--bg-accent);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

@media (min-width: 1024px) {
  .logo {
    height: 103px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.line-break {
  height: 1px;
  width: 100%;
  background-color: #494E6E;
  margin: 12px 0;
}

/* .img-wrap {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
}

.img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.shadow-card {
  box-shadow: 0px 10px 10px -10px #48549F1A;
}

.no-scrollbar {
  ::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}




